{
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    { "files": ["*.css", "*.scss", "*.sass"], "options": { "singleQuote": false } }
  ]
}
